<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykrywanie wieku</title>
</head>
<body>
    <h1>Prześlij zdjęcie twarzy</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Prześlij</button>
    </form>
    {% if predicted_age %}
    <h2>Przewidywany wiek: {{ predicted_age }}</h2>
    <h2>Status: {{ age_category }}</h2>
    {% endif %}

</body>
</html>
